* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("imgs/hill.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}
#calculator {
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    width: 320px;
    height: 530px;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#calculatorDisplay {
    height: 123px;
}
#displayWindow {
    width: 98%;
    height: 95%;
    margin: 3.5px auto;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 46px;
}
#calculatorKeys {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 3.7px;
    flex-grow: 1 ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .2rem;
}
.buttonRow {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.key {
    padding: 7.5px 15px;
    border: none;
    border-radius: 0.5px;
    width: 70px;
}

.numberKey,
.clearKey,
.decimalKey {
    background: #ffffff;
    transition: background-color 0.3s;
}

.numberKey:hover,
.clearKey:hover,
.decimalKey:hover {
    background-color: #f2f2f2;
}

.numberKey:active,
.clearKey:active,
.decimalKey:active {
    background-color: #e5e5e5;
}

.operatorKey {
    background: #f9f9f9;
    transition: background-color 0.3s;
}
.operatorKey:hover {
    background-color: #f1f1f1;
}
.operatorKey:active {
    background-color: #eaeaea;
}

.equalsKey {
    font-size: "95px";
    background: #0067c0;
    transition: background-color 0.3s;
    color: #DAE9F6;
    width: 100%;
}
.equalsKey:hover {
    background-color: #2682d1;
}
.equalsKey:active {
    background-color: #4a9de2;
}